*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.div1, .div2 {
  height: 100vh;
}

.div1{
  background-color: aquamarine;
}

.div2 {
  background-color: bisque;
}

.square {
  width: 150px;
  height: 20vh;
  background-color: cornflowerblue;
  transition: all .5s;
}

.square2 {
  margin-top: 300px;
  width: 150px;
  height: 150px;
  background-color: green;
}

.toggleClass {
  background-color: red;
  transform: translateX(700px);
}