*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat"; }

body {
  height: 100vh;
  position: relative; }

.div1, .div2 {
  height: 100vh; }

.div1 {
  background-color: aquamarine; }

.div2 {
  background-color: bisque; }

.square {
  width: 150px;
  height: 20vh;
  background-color: cornflowerblue;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.square2 {
  margin-top: 300px;
  width: 150px;
  height: 150px;
  background-color: green; }

.toggleClass {
  background-color: red;
  -webkit-transform: translateX(700px);
  -ms-transform: translateX(700px);
  transform: translateX(700px); }

.box {
  width: 100px;
  height: 100px;
  background-color: blue; }

.panel {
  height: 100vh;
  background-color: pink; }
